accountsservice
acl
adobe-source-code-pro-fonts
adobe-source-han-sans-cn-fonts
adobe-source-han-sans-jp-fonts
adobe-source-han-sans-kr-fonts
adwaita-icon-theme
alacritty
alsa-lib
alsa-topology-conf
alsa-ucm-conf
alsa-utils
aom
appstream
arandr
arc-gtk-theme
arch-install-scripts
archlinux-keyring
arcolinux-alacritty-git
arcolinux-grub-theme-vimix-git
arcolinux-keyring
arcolinux-mirrorlist-git
arcolinux-neofetch-git
arcolinux-paru-git
arcolinux-systemd-services-git
arcolinux-wallpapers-git
arcolinuxd-system-config-git
arcolinuxd-welcome-app-git
argon2
asciinema
at-spi2-atk
at-spi2-core
atk
atkmm
attr
audit
autoconf
automake
avahi
base
bash
bash-completion
bat
bc
bibata-cursor-theme-bin
bind
binutils
bison
bluez-libs
bridge-utils
brightnessctl
broadcom-wl
brotli
btrfs-progs
bzip2
c-ares
ca-certificates
ca-certificates-mozilla
ca-certificates-utils
cairo
cairomm
cantarell-fonts
cbatticon
celt
chaotic-keyring
cifs-utils
clonezilla
code
containerd
coreutils
cracklib
crda
cryptsetup
curl
dav1d
db
dbus
dbus-glib
dconf
ddcutil
ddrescue
desktop-file-utils
device-mapper
dex
dhclient
dialog
diffutils
ding-libs
discord
dmidecode
dmraid
dnsmasq
dnssec-anchors
docker
docker-compose
dosfstools
double-conversion
drbl
duf-bin
e2fsprogs
ecryptfs-utils
edid-decode-git
edk2-shell
efibootmgr
efivar
egl-wayland
eglexternalplatform
electron13
elfutils
ethtool
exa
exfatprogs
exo
expac
expat
f2fs-tools
fakeroot
fatresize
feh
ffmpeg
file
filesystem
findutils
firefox
flac
flameshot
flex
fontconfig
freetype2
fribidi
fsarchiver
fuse-common
fuse2
fuse3
fzf
gawk
gc
gcc
gcc-libs
gconf
gcr
gdbm
gdk-pixbuf2
gettext
ghostscript
giflib
git
gksu
glib-networking
glib2
glibc
glibmm
gmp
gnu-netcat
gnupg
gnutls
gobject-introspection-runtime
gpart
gparted
gpgme
gpm
gptfdisk
graphite
grep
groff
grub
gsettings-desktop-schemas
gsm
gssproxy
gtk-update-icon-cache
gtk2
gtk3
gtkmm3
guile
gzip
harfbuzz
hdparm
hicolor-icon-theme
hidapi
http-parser
hw-probe
hwids
hwinfo
iana-etc
icu
ijs
imlib2
iproute2
iptables
iputils
ipw2100-fw
ipw2200-fw
irssi
iso-codes
iw
jack2
jansson
java-runtime-common
jbig2dec
jetbrains-toolbox
jfsutils
jre-openjdk
jre-openjdk-headless
js78
json-c
json-glib
kbd
keyutils
kmod
krb5
l-smash
lame
laptop-detect
lbzip2
lcms2
ldb
ldns
less
libaio
libappindicator-gtk3
libarchive
libass
libassuan
libasyncns
libatasmart
libavc1394
libblockdev
libbluray
libbsd
libbytesize
libcanberra
libcap
libcap-ng
libcbor
libcloudproviders
libcolord
libconfig
libcroco
libcups
libdaemon
libdatrie
libdbusmenu-glib
libdbusmenu-gtk3
libdrm
libedit
libelf
libepoxy
libev
libevdev
libevent
libexif
libffi
libfido2
libfontenc
libgcrypt
libgit2
libgksu
libglvnd
libgnome-keyring
libgpg-error
libgtop
libgudev
libibus
libice
libid3tag
libidn
libidn2
libiec61883
libimobiledevice
libindicator-gtk3
libinih
libinput
libjpeg-turbo
libksba
libldap
libmaxminddb
libmbim
libmd
libmfx
libmm-glib
libmnl
libmodplug
libmpc
libndp
libnet
libnetfilter_conntrack
libnewt
libnfnetlink
libnftnl
libnghttp2
libnl
libnm
libnma
libnotify
libnsl
libogg
libomxil-bellagio
libotr
libp11-kit
libpaper
libpcap
libpciaccess
libpgm
libpipeline
libplist
libpng
libproxy
libpsl
libpulse
libpwquality
libqmi
libqrtr-glib
libraw1394
librsvg
libsamplerate
libsasl
libseccomp
libsecret
libsigc++
libsm
libsndfile
libsodium
libsoup
libsoup3
libsoxr
libssh
libssh2
libstemmer
libtasn1
libteam
libthai
libtheora
libtiff
libtirpc
libtool
libunistring
libunwind
libusb
libusb-compat
libusbmuxd
libutempter
libuv
libva
libvdpau
libvorbis
libvpx
libwacom
libwebp
libwnck3
libx11
libx86emu
libxau
libxaw
libxcb
libxcomposite
libxcrypt
libxcursor
libxdamage
libxdg-basedir
libxdmcp
libxext
libxfce4ui
libxfce4util
libxfixes
libxfont2
libxft
libxi
libxinerama
libxkbcommon
libxkbcommon-x11
libxkbfile
libxklavier
libxml2
libxmu
libxnvctrl
libxpm
libxrandr
libxrender
libxres
libxshmfence
libxslt
libxss
libxt
libxtst
libxv
libxvmc
libxxf86vm
libyaml
licenses
lightdm
lightdm-gtk-greeter
linux
linux-api-headers
linux-atm
linux-firmware
linux-headers
llvm-libs
lm_sensors
lmdb
logrotate
lrzip
lsb-release
lsscsi
luit
lvm2
lz4
lzo
lzop
m4
mailcap
make
man-db
man-pages
mc
md4c
mdadm
memtest86+
mesa
minizip
mkinitcpio
mkinitcpio-busybox
mkinitcpio-nfs-utils
mkinitcpio-openswap
mlocate
mobile-broadband-provider-info
modemmanager
mpfr
mtdev
mtools
nano
nbd
ncurses
ndctl
ndisc6
neofetch
nerd-fonts-ubuntu-mono
net-tools
nettle
network-manager-applet
networkmanager
networkmanager-openconnect
networkmanager-openvpn
networkmanager-pptp
networkmanager-vpnc
nfs-utils
nfsidmap
nilfs-utils
nm-connection-editor
notification-daemon
noto-fonts
npth
nspr
nss
ntfs-3g
ntp
numlockx
nvidia
nvidia-settings
nvidia-utils
nvme-cli
openconnect
opencore-amr
openjpeg2
openresolv
openssh
openssl
openssl-1.0
openvpn
opus
orc
os-prober
p11-kit
pacman
pacman-mirrorlist
pahole
pam
pambase
pango
pangomm
paper
partclone
parted
partimage
paru-bin
patch
pavucontrol
pbzip2
pciutils
pcre
pcre2
pcsclite
perl
perl-clone
perl-encode-locale
perl-error
perl-file-listing
perl-html-parser
perl-html-tagset
perl-http-cookies
perl-http-daemon
perl-http-date
perl-http-message
perl-http-negotiate
perl-io-html
perl-ipc-run3
perl-libwww
perl-lwp-mediatypes
perl-mailtools
perl-net-http
perl-timedate
perl-try-tiny
perl-uri
perl-www-robotrules
perl-xml-parser
perl-xml-writer
picom
pigz
pinentry
pixman
pixz
pkcs11-helper
pkgconf
polkit
polkit-gnome
popt
ppp
pptpclient
procps-ng
progsreiserfs
psmisc
pulseaudio
python
python-appdirs
python-cachecontrol
python-cairo
python-cairocffi
python-cffi
python-chardet
python-colorama
python-contextlib2
python-cryptography
python-distlib
python-distro
python-dnspython
python-docopt
python-gobject
python-html5lib
python-idna
python-keyutils
python-markdown
python-more-itertools
python-msgpack
python-ordered-set
python-packaging
python-pep517
python-pip
python-ply
python-progress
python-pycparser
python-pyopenssl
python-pyparsing
python-requests
python-resolvelib
python-retrying
python-setuptools
python-six
python-toml
python-tomli
python-urllib3
python-webencodings
python-xcffib
python-yaml
qt5-base
qt5-svg
qtile
rav1e
re2
readline
reflector
reiserfsprogs
rest
ripgrep
rofi
rp-pppoe
rpcbind
rsync
rtkit
run-parts
runc
rxvt-unicode
rxvt-unicode-terminfo
sardi-icons
screen
sdl2
sdparm
sed
sg3_utils
shadow
shared-mime-info
slang
smartmontools
smbclient
snappy
sof-firmware
sound-theme-freedesktop
speex
speexdsp
sqlite
squashfs-tools
srt
sshfs
startup-notification
stoken
sudo
surfn-icons-git
svt-av1
sysfsutils
syslinux
systemd
systemd-libs
systemd-sysvcompat
talloc
tar
tcl
tcpdump
tdb
terminus-font
termite
termite-terminfo
testdisk
tevent
texinfo
thin-provisioning-tools
thunar
tmux
tpm2-tss
tracker3
tslib
ttf-dejavu
ttf-hack
ttf-liberation
tzdata
udftools
udiskie
udisks2
unzip
upower
urxvt-fullscreen
urxvt-perls
urxvt-resize-font-git
usb_modeswitch
usbmuxd
usbutils
util-linux
util-linux-libs
v4l-utils
vid.stab
vim
vim-runtime
vmaf
volume_key
vpnc
vte-common
vulkan-icd-loader
wayland
wayland-protocols
webrtc-audio-processing
wget
which
wireless-regdb
wireless_tools
wmctrl
wpa_supplicant
wvdial
wvstreams
x264
x265
xbitmaps
xcb-proto
xcb-util
xcb-util-cursor
xcb-util-image
xcb-util-keysyms
xcb-util-renderutil
xcb-util-wm
xcb-util-xrm
xdg-user-dirs
xdg-utils
xf86-input-elographics
xf86-input-evdev
xf86-input-libinput
xf86-input-vmmouse
xf86-input-void
xf86-video-amdgpu
xf86-video-ati
xf86-video-fbdev
xf86-video-nouveau
xf86-video-openchrome
xf86-video-vesa
xf86-video-vmware
xfconf
xfsprogs
xkeyboard-config
xl2tpd
xorg-bdftopcf
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinit
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xprop
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwd
xorg-xwininfo
xorg-xwud
xorgproto
xplc
xsel
xterm
xvidcore
xxhash
xz
yay-bin
zeromq
zimg
zita-alsa-pcmi
zita-resampler
zlib
zsh
zstd
